// global styling goes here
$v-border: rgba(0, 0, 0, 0.12);

a {
  text-decoration: none;
}

@mixin hosted-field {
  box-sizing: border-box !important;
  height: 40px !important;
  padding: 10px 12px !important;
  border: 1px solid $v-border !important;
  border-radius: 4px !important;
  background-color: white !important;
  box-shadow: 0 1px 3px 0 #e6ebf1 !important;
  -webkit-transition: box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease !important;
}
