.step-wrapper {
  &:not(:last-child) > .v-stepper__content {
    border-left: 1px solid $v-border;
  }
  button {
    margin: 2rem 0;
    min-width: 50%;
  }
  .v-expansion-panel {
    border: 1px solid $v-border;
    margin-bottom: 2rem;
  }
  .payment-methods {
    margin-bottom: 1rem;
  }
}