.step-wrapper {
  &:not(:last-child) > .v-stepper__content {
    border-left: 1px solid $v-border;
  }
  button {
    margin: 2rem 0;
    min-width: 50%;
  }
  .v-subheader {
    padding: 0;
  }
  .payment-methods {
    margin-bottom: 1rem;
  }
}